*{
    margin:0px;
    padding:0px;
}
body{
    min-width: 900px;
    /* background-color: rgba(49, 250, 250, 0.301) !important; */
    background-image: linear-gradient(
        to left,
        rgba(40, 157, 252, 0.500),
        rgba(1, 252, 106, 0.5),
        rgba(31, 132, 248, 0.500),
        rgba(1, 252, 106, 0.5)
     );

}
.header-container{
    width:100%;
    min-width: 900px;
    display:flex;
    justify-content: space-between;
}
/* .header-options{
    /* width:80%;
    min-width: 900px;
    display: flex;
    justify-content: end; 
} */
.count{
    border-radius: 50%;
    background-color: #fff;
    padding: 0px 6px;
    color:darkgoldenrod;
    font-weight: bold;
}
.title{
    width:20%;
    cursor: pointer;
}

.items-container{
   
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 50px 100px;
}

.cardItem{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    margin: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(44, 44, 44);
}


.cardItem:hover{
    cursor: pointer;
    border:2px solid rgb(45, 168, 250);
}

.cardItem:hover .cardImg{
    transform: scale(1.1);
    /* background-position: center;
    object-fit: contain; */
}
.img-container{
    overflow: hidden;
    position: relative;
    width:100%;
    height: 150px;
    border-radius: 5px;
}
.cardImg{
    width:100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    position: relative;
    
}

.cardTitle{
    width: 100%;
    height: 100px;
    align-items: center;
display: flex;
justify-content: center;
    word-break: break-word;
    background-color: whitesmoke;

}

.cart-item-container .cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 0 10px #000;
    margin: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 8px;
}

.card-head{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 0 10px #000;
    margin: 5px;
    border-radius: 5px;
    padding: 8px;
    background-color: teal !important;
    color: whitesmoke;
    
}

.input-qty{
    border-radius: 5px;
    width: 100px;
    border: 2px solid rgb(45, 168, 250);
    text-align: center;
}

/* span .price, .qty, .action-btn{
    width: 20%;
    text-align: center;
} */

.cart-item .name{
    width: 40%;
    text-align: center;
}
.cart-item .qty{
    width: 20%;
    text-align: center;
}
.cart-item .price{
    width: 20%;
    text-align: center;
}
.cart-item .action-btn{
    width: 20%;
    text-align: center;
}
